@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'GFS Neohellenic';
  src: url('@/assets/GFSNeohellenic-Regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Elms Sans';
  src: url('@/assets/ElmsSans-VariableFont_wght.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

input[type='number'] {
  -moz-appearance: textfield;
  appearance: textfield;
}

input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='number']::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type='text'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

body {
    background-image: url('@/assets/BKG.png');
    font-family: 'Elms Sans';
    font-size: 12px;
    margin: 0;
    padding: 0;
  }

.topBar {
    background-color: white;
    padding: 5px;
    padding-left: 45px;
}

.buttons {
    background-color: #163E4E;
    border-color: #163E4E;
    border-radius: 25px;
    color: white;
    width: 150px;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 16px;
}

.buttons:hover {
  background-color: white;
  color: #163E4E;
}

.mainBox {
    background-color: white;
    padding: 25px;
    border: white;
    display: block;
    border-radius: 25px;
    border-width: 5px;
    margin: auto;
    margin-top: 10%;
    text-align: center;
    width: 40%;
    color: #163E4E;
    opacity: 0.8;
}

h1 {
    font-size: 36px;
    font-family: 'GFS Neohellenic';
}

h2 {
  font-size: 24px;
  font-family: 'GFS Neohellenic';
  text-align: left;
}

.input {
  width: 95%;
  border-radius: 15px;
  height: 30px;
  padding: 8px;
}

.navBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
}

.navBar li {
  float: right;
  vertical-align: bottom;
}

.navBar li a {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  vertical-align: bottom;
}

.navBar li a:hover {
  text-decoration: underline;
}

#signUp {
  text-decoration: underline;
}

#navTitle {
  float: left;
}

.dash {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: white;
  width: 20%;
}

.dash li {
  float: top;

}

.dash li button {
  display: inline-block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  vertical-align: bottom;
}

.dash li button:hover {
  text-decoration: underline;
}

.side {
  flex: 0 0 50%; 
  background-color: #f0f0f0;
  padding: 15px;
}

.dash {
  flex: 1; 
  padding: 15px;
}

#dashboardCont {
  display: flex;
  width: 50%; 
  margin: 0 auto; 
  border: 1px solid #ccc; 
  height: 50%;
}