.dash {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 30%;
}


.dash li button {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
  vertical-align: bottom;
  width: 120px;
  background-color: #81A2AC;
  border-color: white;
  height: 50px;
}

.dash li button:hover {
  text-decoration: underline;
}

.side {
  flex: 0 0 10%; 
  background-color: #ADC1C1;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}


#dashboardCont {
  display: flex;
  padding: 0;
  width: 300px;
}

.activeDB {
  background-color: #163E4E;
}

#button1 {
  border-top-left-radius: 25px;
} 